<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Fibonacci App</title>
</head>
<body>

    <h1>Fibonacci App</h1>

    <p th:text="${number} != null ? ${number} : 'No number yet.'"/>

    <p>Press next to get the next number.</p>

    <form>
        <input type="submit" value="next" formaction="/client/next" formmethod="get"></input>
    </form>

    <form>
        <input type="submit" value="reset" formaction="/client/reset" formmethod="post"></input>
    </form>

</body>
</html>
